input[type=checkbox] {
    margin-right: .5em;
}
ul {
    padding-left:0px;
}
.addForm {
    animation: fadeIn .5s;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}